{% extends "basehome.html"%}

{% block titulo %}Home{% endblock %}

{% block estilos %}

<style>

    h1{
        text-align: center;
        font-size: 50px;
        margin-top: 100px;
    }
</style>

{% endblock %}

{% block contenido %}
<div class="container mt-5">
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
{% endif %}
    <hr>
    <div class="row">
        <div class="col-3">
            <h3>Crear Libro</h3>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ BookForm.non_field_errors }}
                {% for field in BookForm %}
                <div class="mb-3 row">
                    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" style="background-color:#045C94; color:white; border-color: #02314D;"><i class="fa fa-book" aria-hidden="true"></i>  Registar Libro</button>
            </form>
        </div>
        <div class="col-9">
            <h3>Todos tus Libros</h3>
            <hr>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Reseña</th>
                        <th>Usuario que cargo el libro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.desc}}</td>
                        <td>{{book.uploaded_by}}</td>
                        <td> 
                            <a href="{% url 'show_book' id=book.id %}" class="btn btn-sm btn-success"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="{% url 'edit_book' id=book.id %}"" class="btn btn-sm btn-success" style="background-color:#045C94; border-color: #02314D; color: white;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="{% url 'user_add_book' id=book.id %}" class="btn btn-sm btn-success" style="background-color:#1c04f7; border-color: #02314D; color: white;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}




<script>

    toastr.info("Registra un nuevo libro y dale like para que quede en tus favoritos ", "Libro Favorito");

</script>


{% endblock %}